.page-program {
    padding-right: 40px;

    .center {
        text-align: center;
    }

    table {
        width: 100%;

        td, th {
            width: 9%;

            text-align: center;
        }
    }
}