@import url('https://fonts.googleapis.com/css?family=Bad+Script|Caveat');

@font-face {
    font-family: Led;
    src: url(fonts/led.ttf);
}

body {
    margin: 30px auto;
    padding: 0;
    width: 900px;
    font-family: sans-serif;

    background: url(images/bg.jpg);
}

.paper {
    table {
        border-spacing: 0;
        padding: 3px;
        tr {
            height: 30px;

            td {
                line-height: 30px;
                &:not(:first-child):before {
                    content: ' | ';
                    float: left;
                }
            }

            &:before {
                width: 100px;
                display: block;
                position: absolute;

                /**/
                content: '';
                height: 1px;
                background-color: black;
                /*/
                height: 0px;
                content: '|';
                transform: scaleX(7) rotate(-106deg) translate(12px, -22px);
                //*/
            }

            &:first-child:before {
                height: 0px;
            }
        }
    }
}