@import url('https://fonts.googleapis.com/css?family=Bad+Script|Caveat');

@font-face {
    font-family: Led; /* Гарнитура шрифта */
    src: url(fonts/led.ttf); /* Путь к файлу со шрифтом */
}

body {
    margin: 30px auto;
    padding: 0;
    width: 900px;
    font-family: sans-serif;

    background: url(images/bg.jpg);
}
